
.book_container {
  position: relative;
  display: inline-block;
  z-index: 1000px;
  
  .dropdown_genre {
  position: relative;
  
  .menu-btn {
  background-color:  #066fd1;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size:  26px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  text-transform: uppercase;
  }
  
  .dropdown_menu {
  position: absolute;
  top:100% ;
  left:0;
  z-index: 1050;
  background-color: white;
  border: 1px solid #fffefe;
  padding:20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .dropdown_section {
  flex:1;
  min-width: 200px;
  max-width: calc(33.33% - 20px);
  
  h3{
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
    margin-bottom: 5px;

    a{
    font-size: 14px;
    color: #0077cc;
    text-decoration: none; 

    &:hover {
    text-decoration: underline;
    }
    }
    }
}
  }
}
  }
  }
  .overlay {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: transparent;
  }
 @media (max-width:768px) {
 .dropdown_section {
 flex-direction: column;
 width: 100%;
 }
 .dropdown_section {
 max-width: 100%;
 }
 }

     