<form class="example-form">
    <input  matInput placeholder="Search Books"  aria-label="Search" [matAutocomplete]="auto" [formControl]="stateCtrl"class="searchBarInput">
    <mat-autocomplete #auto="matAutocomplete" class="search-autocomplete">
      <mat-option *ngFor="let book of books" [value]="book.title" (click)="viewDetails(book)" class="search-res">
        <div class="search-result-item">
          <img class="search-result-img" [src]="book.image" alt="{{ book.title }}" />
          <div class="search-result-text">
            <p class="book-title">{{ book.title }}</p>
            <small class="book-author">{{ book.author }}</small>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
</form>

    
  


