.profile_container {
display: flex;
justify-content: flex-start;
justify-content: flex-start;
gap: 20px;
padding : 20px;


 }



.sidenav {
display: flex;
flex-direction: column;
width: 250px;
position: relative;
background-color: white;
justify-content: flex-start;
padding: 20px;
border-radius: 8px;
box-shadow: black;
border: solid 1px black;
}

.username {
font-weight: bold;
margin-bottom: 1rem;
}

.sidenar ul {
list-style: none;
padding: 0;
}

.sidenav li ul {
margin : 10px 0;
}

.sidenav ul li a {
text-decoration: none;
color: black;
font-size: 1.2rem;
}

.sidenav ul li a:hover {
color :aqua
}


h2 {
font-size: 1.5rem;
margin-bottom: 1rem;

}
h3{
font-size: 1.8rem;
 margin-bottom: 1rem;
}


.profile {
flex: 2;
display: flex;
justify-content: center;
padding: 2rem;
border-radius: 10px;
box-shadow: black;
}

.card {
background-color: white; 
padding: 20px;
border-radius: 8px;
box-shadow: black;
width: 400px;
text-align: left;
}

.card p {
font-size: 1.2rem;
margin: 0.5rem 0;
}

.button1 {
    width: 50%;
    gap: 50px;
    padding: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius:4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

.button2 {
width: 50%;
padding: 12px;
background-color: blue;
color: white;
border: none;
border-radius:4px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease;
}