.home-content {
max-height: 10px;
margin-top: 300px;
}



.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 8px 0;
    scroll-behavior: smooth;
  }
  
  .book-card {
    min-width: 200px;
    max-width: 200px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .book-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .discount-price {
    color: green;
    font-weight: bold;
  }
  
  .original-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 8px;
  }
  
  h2 {
    margin-top: 24px;
    font-size: 1.5em;
  }
  
  