<div class="sidenav">
    <h2>Admin Panel of </h2>
    <p class="username">{{user?.id}}</p>
    <ul>
    <li> <a (click)="bookLists()">Book Lists</a></li>
    <li> <a (click)="usersLists()">Users Lists</a></li>
    <li> <a (click)="deliveriesLists()">Deliveries Lists</a></li> 
    <li> <a (click)="ordersLists()">Orders Lists</a></li> 
    <li> <a (click)="employeeLists()">Employee Lists</a></li>
    </ul>
</div>


<div class="profile">
    <div class="card">
    <h3>Personal Admin Infromation</h3>
    <p><strong>First Name:{{user?.firstName}}</strong></p>
    <p><strong>Last Name:{{user?.lastName}}</strong></p>
    <p><strong>Email:{{user?.email}}</strong></p>
    <button mat-raised-button color="primary" type="submit" class="button1" (click)="editProfile()">Edit Account</button>
    <button mat-raised-button color="primary" type="submit" class="button2" (click)="changePassword()">Change Password</button>
    </div>
    </div>