.delivery_container {
display:flex;
justify-content: center;
align-items: center;
padding: 50px 20px;
}

.delivery-form {
width: 600px;
max-width: 100%;
background-color:#ffffff;
padding: 40px;
border-radius: 8px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease;

&:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15); 
  }
   
  .id,
  .name,
  .email,
  .phonenumber,
  .address,
  .zipcode,
  .day,
  .location   {
  margin-bottom: 20px;

  

  label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333
  }

  input,
  select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  }
  
  button {
  width: 100%;
  padding: 12px;
  background-color: blue;
  color: white;
  border: none;
  border-radius:4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  button:hover {
  background-color: black;
  }
} 

}